{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":0,"column":0},"end":{"row":7,"column":9},"action":"insert","lines":["*.pyc","*~","/.vscode","__pycache__","myvenv","db.sqlite3","/static",".DS_Store"],"id":1}],[{"start":{"row":7,"column":9},"end":{"row":8,"column":0},"action":"insert","lines":["",""],"id":4}],[{"start":{"row":8,"column":0},"end":{"row":8,"column":4},"action":"insert","lines":["/.c9"],"id":5}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":8,"column":4},"end":{"row":8,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1610275866705,"hash":"4d23511d267732b2d049aeabe25a11ffa88effe5"}